
/******** Base Style **********/
body{

  background-color: #eee;
  font-family: "San serif" , Arial , "comic sans"
  
}


.navbar{
background:#5F9EA0;
border: 0;
border-radius: 0;

}
.navbar-nav ul li a{
color: #000;

}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand{

 color: #000 !important;
 font-weight: bold;
 letter-spacing: 3px; 
}

h1 { font-family: 'BenchNine', sans-serif!important; 
     font-weight: bold;
     text-transform: uppercase;
     width:30%;
     position: relative;
     left:44%;
     margin-top: 5%;
     margin-bottom: 5%;
   }

p{ font-size: 100%; font-family: 'Oxygen', sans-serif;}
.row{ width:100%; margin: 0 auto;  }

.col-md-3  { width: 31% !important;
             float: left;
             margin-left: 25px;
             padding: 1.5%;
             position: relative;
}

#title{
     border: 1px solid black; 
     text-align: center; 
     padding:7px; 
     /*width: 25%;*/ 
     width: 150px; 
     position: absolute !important; 
     right: -1px !important; 
     top: -21px !important; 
     height: 30px; 
     font-size: 75%; 
     font-weight: bold; 
     margin-bottom: 2%;

}
#chicken { 
  background:#A52A2A; 
  color:#fff; 
  border:1px solid #003925;
  position: relative;
}

#chicken > h2 { 
   background:pink; 
   width: 30%;
   text-align: center;
   text-transform: uppercase;
   

} 
#chicken > p{ margin-top: 5%;}

#pork_chop {background:#5F9EA0; border:1px solid #550000; color: #fff;}
#pork_chop > h2 { 
      background:yellow; color: #000;
      width: 30%;
      text-align: center;
      text-transform: uppercase;
      border: thin solid #5F9EA4;
    }
#pork_chop > p{ margin-top: 5%;}

#steak{background: orange; border: 1px solid #5E9732; color: #fff;}

#steak > h2 { 
  background:navy; color:#fff; 
  width: 30%;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
}
#steak > p{ margin-top: 5%;}

/*********** Tablet View *******************/
@media (min-width: 992px){
.col-md-3  { width: 30.7% !important;
             float: left;
             margin-left: 25px;
             padding: 1.5%;
             position: relative !important;
           }

}

@media (min-width: 768px) and (max-width: 991px){
.col-md-3  { width: 45.8% !important;}
 #steak{ width: 94.5% !important; margin-top: 20px;}
}

@media(max-width: 767px){
  h1{ width: 50% !important;}
 .col-md-3  { width: 90% !important;margin-top: 20px; }
 #steak{ width: 90% !important; margin-top: 20px;}
 #chicken > p{ margin-top: 7%;}
 #pork_chop > p{ margin-top: 7%;}
 #steak > p{ margin-top: 7%;}

}

