.navbar{
	border:0;
	border-radius: 0;
}
.navbar ul li a {
 text-align: center;
 border: 1px solid #333;
}

#chicken{
	background: #ddd;
	height: 1000px;
	margin-top: 5%;
}
#pork_chop{
	background: #ddd;
	height: 1000px;
	margin-top: 3%;
}
#steak{
	background: #ddd;
	height: 1000px;
	margin-top: 3%;
}
h2 {
   text-align: center;
}


@media(max-width: 767px){
#chicken{ width: 90%; margin-left:5%;}
#pork_chop{ width: 90%; margin-left:5%;}
#steak{ width: 90%; margin-left:5%;}

}
